@font-face {
  font-family: 'Exo2.0-ExtraBold_0';
  src: url('../fonts/Exo2.0-ExtraBold_0.eot');
  src: local('☺'), url('../fonts/Exo2.0-ExtraBold_0.woff') format('woff'), 
  url('../fonts/Exo2.0-ExtraBold_0.ttf') format('truetype'), 
  url('../fonts/Exo2.0-ExtraBold_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo2.0-Light_0';
  src: url('../fonts/Exo2.0-Light_0.eot');
  src: local('☺'), url('../fonts/Exo2.0-Light_0.woff') format('woff'),
  url('../fonts/Exo2.0-Light_0.ttf') format('truetype'), 
  url('../fonts/Exo2.0-Light_0.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2.0-Bold';
  src: url('../fonts/Exo2.0-Bold.eot');
  src: url('../fonts/Exo2.0-Bold.woff2') format('woff2'),
       url('../fonts/Exo2.0-Bold.woff') format('woff'),
       url('../fonts/Exo2.0-Bold.ttf') format('truetype'),
       url('../fonts/Exo2.0-Bold.svg#Exo2.0-Bold') format('svg'),
       url('../fonts/Exo2.0-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2.0-Regular';
  src: url('../Exo2.0-Regular.eot');
  src: url('../Exo2.0-Regular.woff2') format('woff2'),
       url('../Exo2.0-Regular.woff') format('woff'),
       url('../Exo2.0-Regular.ttf') format('truetype'),
       url('../Exo2.0-Regular.svg#Exo2.0-Regular') format('svg'),
       url('../Exo2.0-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2.0-Medium';
  src: url('../Exo2.0-Medium.eot');
  src: url('../Exo2.0-Medium.woff2') format('woff2'),
       url('../Exo2.0-Medium.woff') format('woff'),
       url('../Exo2.0-Medium.ttf') format('truetype'),
       url('../Exo2.0-Medium.svg#Exo2.0-Medium') format('svg'),
       url('../Exo2.0-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}