@colorblue:#2067ae;
@colorwhite:#fff;
@colorfoter:#857170;
@colortrif:#f9f6f6;
@colorblack:#333333;
@colorgreen:#41c6c8;
@colorbl:#000000;
@colorlightblue:#135ba3;


.font-basic(@_font: 'Exo2.0-ExtraBold_0', @_size: 14px, @_weight: normal, @_color: @colorblack, @_upper: none, @_align: none, @_line: none, @_margin: none){
  font-family: @_font;
  font-size: @_size;
  font-weight: @_weight;
  color: @_color;
  text-transform: @_upper;
  text-align: @_align;
  line-height: @_line;
  margin: @_margin;
}
.buton-blue{
  border-radius: 37px;
  width: 255px;
  height: 65px;
  color: @colorwhite;
  font-family: Exo2.0-Regular;
  font-size: 20px;
  border: none;
  background: #41c7c8;
  background-image: -webkit-linear-gradient(top, #41c7c8, #1e65ac);
  background-image: -moz-linear-gradient(top, #41c7c8, #1e65ac);
  background-image: -ms-linear-gradient(top, #41c7c8, #1e65ac);
  background-image: -o-linear-gradient(top, #41c7c8, #1e65ac);
  background-image: linear-gradient(to bottom, #41c7c8, #1e65ac);
}
.cina{
  display: inline-block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 102px;
    border: 3px solid #d2efeb;
    width: 180px;
    height: 180px;
    text-align: center;
    -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, 
      color-stop(0.00,  rgba(0,0,0,0.4)),
      color-stop(1.00,  rgba(0,0,0,1)));
    .inner{
      border-radius: 95px;    
      width: 157px;
      height: 157px;
      margin: 8px;
      float: left;
      overflow: hidden;
      text-align: center;
    }
    .inner1{
      border-radius: 95px; 
      width: 157px;
      height: 157px;
      margin: 8px;
      float: left;
      overflow: hidden;
      text-align: center;
    }
}
.pozicia{
  width: 270px;
  height: 420px;
  margin: 11px;
}
.shad{
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
}