*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@import "mixing";
@import "fonts";


.header{
	margin-top: 29px;
	p{
		.font-basic(@_font: 'Exo2.0-ExtraBold_0', @_size: 24px, @_weight: normal, @_color: @colorblack, @_line: 1, @_margin: 14px)
	}
	a{
		.font-basic(@_font: 'Exo2.0-Light_0', @_size: 16px, @_weight: normal, @_color: @colorblue, @_margin: 14px);
		border-bottom-style: dotted;
	}
}
.screen1{
	background: url(../img/back1.png) 100% 100% no-repeat;
    position: absolute;
    z-index: 200;
    width: 100%;
    background-size: cover;
    margin-top: 20px;
    .revolution{
    	position: absolute;
    	img{
    		margin: 181px 24px 0 0;
    		float: left;
    	}
    	h1{
    		.font-basic(@_font: 'Exo2.0-Bold', @_size: 85px, @_weight: normal, @_color: @colorwhite, @_margin: 160px 10px 20px 0px);
    		   
    	}
    	.production{
    		padding: 0;
	    	p{
	    		.font-basic(@_font: 'Exo2.0-Bold', @_size: 30px, @_weight: normal, @_color: @colorwhite, @_margin: 0 53px 0 32px);	
	    	}
	    	span{
	    		.font-basic(@_font: 'Exo2.0-Bold', @_size: 30px, @_weight: normal, @_color: @colorgreen, @_margin: none);	
	    	}
	    	button{
	    		margin: 40px 0 0 32px;
	    		.buton-blue();
	    	}
    	}
    }
    .revolution-right{
    	float: right;
    	margin-right: 17%;
    	margin-top: 52px;
    	img{
    		margin-bottom: 200px;
    	}
    }
}
.screen2{
	background: url(../img/back2.png) 100% 100% no-repeat;
    position: relative;
    margin-top: 328px;
    z-index: 100;
    width: 100%;
    background-size: cover;
    h3{
      	.font-basic(@_font: 'Exo2.0-Bold', @_size: 40px, @_weight: normal, @_color: @colorblack, @_align: center, @_margin: 462px 0px 20px 0px);
    }
    .line-all{
    	margin-left: 48%;
    }
    .was{
    	text-align: center;
    	margin-top: 22px;
    	.blue{
    	.font-basic(@_font: 'Exo2.0-Bold', @_size: 28px, @_weight: normal, @_color: @colorblue, @_margin: 0);
    	}
    	p{
    	.font-basic(@_font: 'Exo2.0-Regular', @_size: 16px, @_weight: normal, @_color: @colorbl, @_margin: 10px 31px 0);	
    	}
    }
    .quest{
    	text-align: center;
    	img{
    		margin-top: 29px;
    	}
    }
}
.screen3{
	background: url(../img/back3.png) 100% 100% no-repeat;
    position: absolute;
    z-index: 200;
    width: 100%;
    background-size: cover;
   /* margin-top: 20px;*/
	.lightblue{  
	   .font-basic(@_font: 'Exo2.0-Bold', @_size: 40px, @_weight: normal, @_color: @colorlightblue, @_align: center, @_margin: 158px 0 0 0);
	}
	h2{
		.font-basic(@_font: 'Exo2.0-Bold', @_size: 40px, @_weight: normal, @_color: @colorblack, @_align: center, @_margin:0);
	}
	.choice{
		img{
			float: right;
    		margin-right: 11%;;
		}
		button{
	    		float: right;
    			margin: 20px 10px 183px 0;
	    		.buton-blue();
	    	}
	}  
	.choice2{
		img{
			margin-left: 104px;
		}
		button{
	    	    float: left;
    			margin: 23px 0 0 157px;
	    		.buton-blue();
	    	}
	} 
}
.screen4{
	background: url(../img/back4.png) 100% 100% no-repeat;
    position: relative;
    margin-top: 328px;
    z-index: 100;
    width: 100%;
    background-size: cover;
    h3{    	
    	.font-basic(@_font: 'Exo2.0-ExtraBold_0', @_size: 40px, @_weight: normal, @_color: @colorwhite, @_margin: 52% 0 8px);
	}
	span{
		color: @colorgreen;
	}
	.slide-three{
		overflow: hidden;
		.carousel-inner{
			margin: 31px 0 0 74px;
			/*margin-left: 69px;*/
		}
		.carousel-control{
			background-image: none;
			opacity: 1;
			top: 150px;
		}
		.hide-bullets{
			padding: 0;
			margin: 0;
			
				li{
					list-style-type: none;
					padding: 0;
					width: 128px;
					margin: 10px 0 0 13px;
					&:first-child{
						margin-left: 75px;
					};
					.thumbnail{
							padding: 0;
							border-radius: 0;
						
						
					}
				}
			
		}
	}
	.text-r{
	p{
		.font-basic(@_font: 'Exo2.0-Regular', @_size: 16px, @_weight: normal, @_color: @colorwhite, @_margin: 25px 0 0);
    		
	}
	ul{
		margin-bottom: 217px;
		padding: 22px 0 0 19px;
		li{
			list-style-type: square;
			color: #2dbfac;
			margin-bottom: 12px;
			&:first-child{
				list-style-type: none;
				.font-basic(@_font: 'Exo2.0-Regular', @_size: 16px, @_weight: normal, @_color: @colorwhite, @_margin: 0 0 5px 0 );
			}
			p{
				.font-basic(@_font: 'Exo2.0-Bold', @_size: 18px, @_weight: normal, @_color: @colorwhite, @_margin: 0);
			}
			span{
				.font-basic(@_font: 'Exo2.0-Regular', @_size: 16px, @_weight: normal, @_color: @colorwhite, @_margin: 0);
			}
		}
	}
	}
}
.screen5{
	background: url(../img/back5.png) 55% -56% no-repeat;
	position: relative;
	margin: -83px 0 80px 0 ;

	h3{
		.font-basic(@_font: 'Exo2.0-ExtraBold_0', @_size: 39.88px, @_weight: normal, @_color: @colorblack,  @_margin: 46px 0 29px);
	}
	.line-all{
		margin-bottom: 40px;
	}
	.outer {
		position: absolute;
		margin-left: 108px;
		.cina();
		.inner{
			background-color: #2dbfac;			
			background-image: -webkit-linear-gradient(top, #2dbfac, #2dbeab);
			background-image: -moz-linear-gradient(top, #2dbfac, #2dbeab);
			background-image: -ms-linear-gradient(top, #2dbfac, #2dbeab);
			background-image: -o-linear-gradient(top, #2dbfac, #2dbeab);
			background-image: linear-gradient(to bottom, #2dbfac, #2dbeab);
		}
		.inner1{
			background-color: #2067ae;
			background-image: -webkit-linear-gradient(top, #2067ae, #2066ac);
			background-image: -moz-linear-gradient(top, #2067ae, #2066ac);
			background-image: -ms-linear-gradient(top, #2067ae, #2066ac);
			background-image: -o-linear-gradient(top, #2067ae, #2066ac);
			background-image: linear-gradient(to bottom, #2067ae, #2066ac);
		}
		.crossed{
			.font-basic(@_font: 'Exo2.0-Bold', @_size: 20px, @_weight: normal, @_color: @colorwhite, @_margin: 50px 0 0);
			text-decoration: line-through;
		}
		p{
			.font-basic(@_font: 'Exo2.0-Bold', @_size: 36px, @_weight: normal, @_color: @colorwhite, @_margin: -15px);
		}
		
	}
	.tovar{
		margin: 79px 0 0 251px;
	}
	button{
		margin: 20px 0 0 244px;
		.buton-blue();
	}
}
.screen6{
	background: url(../img/back6.png) 100% 100% no-repeat;
	position: absolute;
	z-index: 100;
	width: 100%;
	background-size: cover;
	h3{
		.font-basic(@_font: 'Exo2.0-ExtraBold_0', @_size: 40px, @_weight: normal, @_color: @colorwhite,   @_margin: 17% 0 29px);
	}
	
	.slide{
		margin: 20px 0 103px 0;
		.carousel-control.right{
			opacity: 0;
		}
		.carousel-control.left{
			opacity: 0;
		}
	}

}
.screen7{
	background: url(../img/back7.png) 100% 100% no-repeat;
    /*position: relative;*/
    margin-top: 804px;
    z-index: 100;
    width: 100%;
    background-size: cover;
    h3{
    	.font-basic(@_font: 'Exo2.0-ExtraBold_0', @_size: 40px, @_weight: normal, @_color: @colorblack,   @_margin: 24% 0 29px);
    }
   
   	.review-blue{
   		.font-basic(@_font: 'Exo2.0-Bold', @_size: 20px, @_weight: normal, @_color: @colorblue, @_margin: 27px 0 0 0);
   	}
   	.review-black{
   		.font-basic(@_font: 'Exo2.0-Regular', @_size: 14px, @_weight: normal, @_color: @colorblack, @_margin: 0);
   	}
   	.review-text{
   		.claws1{
   			float: left;
   			margin-left: 20px;
   		}
   		p{
   			padding-left: 106px;
   			.font-basic(@_font: 'Exo2.0-Regular', @_size: 17px, @_weight: normal, @_color: @colorblack, @_margin: 0 0 20px);
   		}
   	}
   	.claws2{
   		margin-top: 25%;
   	}
   	.guarantee{
   		margin-top: 8%;
   	    border: 4px solid rgba(238, 246, 244, 0.5);
        padding: 25px 0 22px 111px;
   		h4{
   			.font-basic(@_font: 'Exo2.0-Bold', @_size: 40px, @_weight: normal, @_color: @colorblue, @_margin: 0 0 20px);
   		}
   		p{
   			.font-basic(@_font: 'Exo2.0-Medium', @_size: 18px, @_weight: normal, @_color: @colorblack, @_margin: 0);
   		}
   	}
}
.screen8{
	background: url(../img/back8.png) no-repeat;
	z-index: 100;
	width: 100%;
	height: 800px;
	background-size: cover;
	position: absolute;
	h3{
		.font-basic(@_font: 'Exo2.0-ExtraBold_0', @_size: 40px, @_weight: normal, @_color: @colorwhite,   @_margin: 10% 0 23px);
	}
	.demo{
		padding-top: 60px;
    	padding-bottom: 60px;
		.panel-group{
			.panel-default {
				background-color: transparent;
				border-color: transparent;

				.panel-heading {
					padding: 0;
					border-radius: 0;
					background: rgba(40, 85, 123, 0.5);
					border-color: #28557b;
					h4{
						.font-basic(@_font: 'Exo2.0-Bold', @_size: 19px, @_weight: normal, @_color: @colorwhite, @_margin: 0);
						
						i{

						}
					}

					
					&:hover{
						background:rgba(51, 93, 86, 0.5);
						
					};
				}
				
					.panel-collapse{
						.panel-body{
							.font-basic(@_font: 'Exo2.0-Medium', @_size: 17px, @_weight: normal, @_color: @colorwhite, @_margin: 0);
							border-top-color: transparent;
						}	
					}
					.panel-title {
				        a{
				        	display: block;
				        	padding: 15px;
				        	text-decoration: none;
				        }	
				    }
				    .more-less {
				        float: right;
				        border: 1px solid;
    					border-radius: 25px;
    					font-size: 15px;
    					padding: 5px 4px 4px 5px;;
				       
				    }
				}			

			}

		}
}
.screen9{
	background: url(../img/back5.png) 89% -178% no-repeat;
	position: relative;
    margin-top: 55%;
	h4{
		.font-basic(@_font: 'Exo2.0-ExtraBold_0', @_size: 36px, @_weight: normal, @_color: @colorblack,   @_margin: 70px 0 0);
	}
	span{
		.font-basic(@_font: 'Exo2.0-Bold', @_size: 48px, @_weight: normal, @_color: @colorblue, @_margin: 0 0 20px);
	}
	.text{
		.font-basic(@_font: 'Exo2.0-Medium', @_size: 28px, @_weight: normal, @_color: @colorblack,   @_margin: 0 10px 40px);
		float: left;
	}
	.outer {
		position: absolute;
		margin: 264px 0 0 -101px;
		.cina();
		-webkit-mask-image: none;
		.inner{
			background-color: #cfebe8;		
			
		}
		.inner1{
			background-color: #41c6c8;
			
		}
		.crossed{
			.font-basic(@_font: 'Exo2.0-Bold', @_size: 20px, @_weight: normal, @_color: @colorwhite, @_margin: 50px 0 0);
			text-decoration: line-through;
		}
		p{
			.font-basic(@_font: 'Exo2.0-Bold', @_size: 36px, @_weight: normal, @_color: @colorwhite, @_margin: -15px);
		}
		
	}
	form{
		.enter{
			float: left;
			background-color: #eef4f7;
    		border-left-style: solid;
    		border-left-color: #40c5c7;
    		margin: 10px 45px 10px 159px;
			i{
				margin: 18px 13px 22px 16px;
    			color: @colorgreen;
			}
			input{
				padding: 10px;
			    float: right;
			    border: none;
			    margin-top: 4px;
			    background-color: #eef4f7;
			    width: 352px;
			    font-size: 16px;
			    font-family: 'Exo2.0-Light_0';
			}			
		}
		button{
				float: left;
				margin: 16px 0 0 200px;
				.buton-blue();
			}
	}
}
.footer{
	background-color: #07284a;
	.logo{
		margin-top: 44px;
	}
	.linef{
		float: left;
    	margin: 26px 95px 0 0;
	}
	.font-basic(@_font: 'Exo2.0-Bold', @_size: 14px, @_weight: normal, @_color: #eff4f7, @_margin: 0);
	ul{
		list-style-type: none;
		margin: 34px 0 36px;
		li{
			&:last-child{
				margin-top: 13px;
			};
			a{
				color: #eff4f7;
			}
		}
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
	.screen1{
		.revolution{
			h1{
				font-size: 77px;
			}
			.production{
				p{
					margin: 0 0 0 32px;
				}
			}
		}
		.revolution-right{
			img{
				margin-bottom: 94px;
			}
		}
	}
	.screen2{
		margin-top: 191px;
	}
	.screen3{
		margin-top: -100px;
		.choice{
			button{				
				margin: 20px 10px 137px 0;
			}
		}
	}
	.screen4{
		h3{
			margin: 48% 0 8px;
		}
		.slide-three{
			
			.carousel-control{
				margin-right: -19px;
			}
			

		}
	}
	.screen5{
		.outer{			
			margin-left: 20%;

		}
		.tovar{
			margin: 79px 0 0 50%;
		}
		button{
			margin: 20px 0 0 45%;
		}
	}
	.screen9{
		h4{
			margin: 216px 0 0;
		}
		.text{
			font-size: 25px;
		}
		form{
			.enter{
				margin: 10px 45px 10px 100px;
			}
			button{
				margin: 16px 0 30px 168px;
			}
		}
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px){
	.screen1{	
		position: inherit;
		.revolution{
			img {
				margin: 44px 24px 0 0;
			}
			h1{
				margin: 17px 10px 20px 0;
			}
			.production{
				p{
					font-size: 28px;
				}
			}
		}  
		.revolution-right {
			margin-right: 0; 
			margin-top: 315px;
		}  
	}
	.screen2{
		position: inherit;
		margin-top: -147px;
		background-color: @colorwhite;
		h3{
			margin: 10px 0 20px 0;
		}
	}
	.screen3{
		position: inherit;
		.lightblue{
			margin: 225px 0 0 0;
		}
		.choice{
			img{
				float: none;
				margin-right: 0;
				margin-left: 39%;
			}
			button{
				float: none;
				margin: 20px 0 32px 237px;
			}
		}
		.choice2{
			img {
				margin-left: 161px;
			}
			button{
				margin: 23px 0 268px 215px;
			}
		}
	}
	.screen4{
		position: inherit;
		margin-top: -212px;
		h3{
			margin: 3% 0 8px;
		}
		.slide-three{ 
			.carousel-inner {
				margin: 31px 0 0 158px;
			}
			.hide-bullets{				
				li{						
					&:first-child{
						margin-left: 160px;
					};					
				}			
			}
		}
	}
	.screen5{
		position: inherit;
		background-color: @colorwhite;
		margin: -146px 0 0 0;	
		.outer{
			margin-left: 0;
		}
		.tovar{
			margin: 79px 0 0 91px;
		}
		button{
			margin: 20px 0 0 71px;
		}
	}
	.screen6{
		.slide{
			margin: 20px 0 65px 0;		
		}
	}
	.screen7{
		margin-top: 607px;
		.claws2{
			margin-top: 65%;
		}
	}
	.screen8{
		position: inherit;
		height: 770px;
	}
	.screen9{
		position: inherit;
		margin-top: -121px;
    	background-color: @colorwhite;
    	.text{
    		margin: 0 99px 40px 33px;
    		font-size: 22px;
    	}
    	form{
    		.enter{
    			margin: 10px 45px 10px 0;
    			input{
    				width: 281px;
    			}
    		}
    		button{
    			margin: 16px 0 0 19px;
    		}
    	}
    	.outer{
    		margin: 264px 0 0 -123px;
    	}
    	img{
    		    margin-left: -67px;
    	}
	}
	.footer{
		.logo{
			margin-left: 42%
		}
		.linef{
			margin: 26px 13px 0 0;
		}
	}
}

